@using PagedList.Mvc;
@using PagedList;

@model IPagedList<MusicApp.Models.Menu>

@{
    ViewBag.Title = "Menu Management";
}

<div class="container">
    <div class="page-inner">
        <div class="page-header">
            <h3 class="fw-bold mb-3">Menu Management</h3>
            <ul class="breadcrumbs mb-3">
                <li class="nav-home">
                    <a href="#">
                        <i class="icon-home"></i>
                    </a>
                </li>
                <li class="separator">
                    <i class="icon-arrow-right"></i>
                </li>
                <li class="nav-item">
                    <a href="#">Management</a>
                </li>
                <li class="separator">
                    <i class="icon-arrow-right"></i>
                </li>
                <li class="nav-item">
                    <a href="#">Menu</a>
                </li>
            </ul>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="d-flex align-items-center">
                            <h4 class="card-title">Menu Items</h4>
                            <a href="@Url.Action("Create", "MenuManage")" class="btn btn-primary btn-round ms-auto">
                                <i class="fa fa-plus"></i>
                                Add New
                            </a>
                        </div>
                    </div>

                    <div class="table-responsive">
                        <table id="add-row" class="display table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model[0].Name)</th>
                                    <th>@Html.DisplayNameFor(model => model[0].Url)</th>
                                    
                                    <th>@Html.DisplayNameFor(model => model[0].Meta)</th>
                                    <th>@Html.DisplayNameFor(model => model[0].Order)</th>
                                    <th>@Html.DisplayNameFor(model => model[0].DateBegin)</th>
                                    <th style="width: 10%">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr class="@(item.ParentId == null ? "disabled-menu" : "submenu")">
                                        <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Url)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Meta)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Order)</td>
                                        <td>@Html.DisplayFor(modelItem => item.DateBegin)</td>
                                        <td>
                                            @if (item.ParentId != null)
                                            {
                                                <p style="display: inline-flex;">
                                                    <a href="@Url.Action("Edit", "MenuManage", new { id = item.Id })" class="btn btn-link btn-primary btn-lg">
                                                        <i class="fa fa-edit"></i>
                                                    </a>
                                                    |
                                                    <a href="@Url.Action("Delete", "MenuManage", new { id = item.Id })" class="btn btn-link btn-danger btn-lg">
                                                        <i class="fa fa-times"></i>
                                                    </a>
                                                </p>
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
