
@{
    ViewBag.Title = "LatestAlbums";
}

@model List<MusicApp.Models.Album>

<!-- ##### Latest Albums Area Start ##### -->
<section class="latest-albums-area section-padding-100">
    <div class="container">
        <div class="row">
            <h2>@ViewBag.Title</h2>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="albums-slideshow owl-carousel">
                    @foreach (var album in Model)
                    {
                        <!-- Single Album -->
                        <div class="single-album">
                            <img src="@album.CoverImageUrl" alt="@album.Title">
                            <div class="album-info">
                                <a href="@Url.RouteUrl("AlbumDetail", new { type = "album", meta = album.Meta, id = album.Id })">
                                    <h5>@album.Title</h5>
                                </a>

                                <p>@album.Artist</p>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Latest Albums Area End ##### -->
