@model IEnumerable<MusicApp.Models.Menu>

<nav class="classy-navbar justify-content-between" id="oneMusicNav">
    <!-- Nav brand -->
    <a href="~/home" class="nav-brand"><img src="~/Content/img/core-img/logo.png" alt=""></a>

    <!-- Navbar Toggler -->
    <div class="classy-navbar-toggler">
        <span class="navbarToggler"><span></span><span></span><span></span></span>
    </div>

    <!-- Menu -->
    <div class="classy-menu">
        <div class="classycloseIcon">
            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
        </div>

        <!-- Nav Start -->
        <div class="classynav">
            <ul>
                @foreach (var mainMenu in ViewBag.MainMenus)
                {
                    if (ViewBag.SubMenus.ContainsKey(mainMenu.Id) && ViewBag.SubMenus[mainMenu.Id].Count > 0)
                    {
                <li>
                    <a href="#">@mainMenu.Name</a>
                    <ul class="dropdown">
                        @foreach (var subMenu in ViewBag.SubMenus[mainMenu.Id])
                                {
                        <li><a href="@subMenu.Url">@subMenu.Name</a></li>
                                }
                    </ul>
                </li>
                    }
                    else
                    {
                <li><a href="@mainMenu.Url">@mainMenu.Name</a></li>
                    }
                }
            </ul>
        </div>
        <!-- Nav End -->
    </div>
</nav>
