@model IEnumerable<MusicApp.Models.Menu>
@using Microsoft.AspNet.Identity

<nav class="classy-navbar justify-content-between" id="oneMusicNav">
    <!-- Nav brand -->
    <a href="~/home" class="nav-brand">
        <!-- Hiển thị logo nếu menu.name là "Logo" -->
        @foreach (var mainMenu in ViewBag.MainMenus)
        {
            if (mainMenu.Name == "Logo")
            {
                <img src="@mainMenu.Url" alt="Logo" />
            }
        }
    </a>

    <!-- Search form -->
    <form class="form-inline my-2 my-lg-0">
        <input class="form-control" type="search" placeholder="Search" aria-label="Search" style="width: 300px; border: 1px solid white;">
        <button class="btn btn-outline-success" type="submit" style="color: white; border-color: white;">
            <img src="~/Content/fonts/magnifying-glass-solid.svg" alt="Search" style="width: 16px; height: 16px;">
        </button>
    </form>

    <!-- Menu -->
    <div class="classy-menu">
        <div class="classycloseIcon">
            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
        </div>

        <div class="classynav">
            <ul>
                @foreach (var mainMenu in ViewBag.MainMenus)
                {
                    if (mainMenu.Name != "Logo")
                    {
                        if (ViewBag.SubMenus.ContainsKey(mainMenu.Id) && ViewBag.SubMenus[mainMenu.Id].Count > 0)
                        {
                            <li>
                                <a href="@mainMenu.Url">@mainMenu.Name</a>
                                <ul class="dropdown">
                                    @foreach (var subMenu in ViewBag.SubMenus[mainMenu.Id])
                                    {
                                    <li>
                                        <a href="@Url.Action("GetListSongByCategory", "Song", new { categoryName = @subMenu.Name })">@subMenu.Name</a>
                                    </li>
                                    }
                                </ul>
                            </li>
                        }
                        else
                        {
                            <li><a href="@mainMenu.Url">@mainMenu.Name</a></li>
                        }
                    }
                }
            </ul>

            <!-- Login/Register và Cart Button -->
            <div class="login-register-cart-button d-flex align-items-center">

                @if (Request.IsAuthenticated)
                {<!-- Khi đã đăng nhập: Hiển thị giỏ hàng và Log out -->
                    <div class="cart-btn">
                        <p>
                            <img class="user-icon" src="~/Content/img/icons8-user-30.png" alt="">
                        </p>
                    </div>

                    <div class="login-register-btn ml-15">
                        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                        {
                            @Html.AntiForgeryToken()
                            <div>
                                <a href="javascript:document.getElementById('logoutForm').submit()">Log out</a>
                            </div>}
                    </div> }
                else
                { <!-- Khi chưa đăng nhập: Hiển thị Login, ẩn giỏ hàng -->
                    <div class="login-register-btn ml-15">
                        <a href="@Url.Action("Login", "Account")" id="loginLink">Log in</a>
                    </div>}
            </div>
        </div>
    </div>
</nav>