@model MusicApp.Models.RegisterForm

<section class="register-area section-padding-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <div class="register-content">
                    <h3>@Model.Title</h3>
                    <!-- Register Form -->
                    <div class="register-form">
                        <form action="#" method="post">
                            <div class="form-group">
                                <label for="inputName">@Model.NameLabel</label>
                                <input type="text" class="form-control" id="inputName" placeholder="@Model.NamePlaceholder">
                            </div>
                            <div class="form-group">
                                <label for="inputEmail">@Model.EmailLabel</label>
                                <input type="email" class="form-control" id="inputEmail" placeholder="@Model.EmailPlaceholder">
                            </div>
                            <div class="form-group">
                                <label for="inputPassword">@Model.PasswordLabel</label>
                                <input type="password" class="form-control" id="inputPassword" placeholder="@Model.PasswordPlaceholder">
                            </div>
                            <div class="form-group">
                                <a href="@Url.Action("Index", "Account", new { formType = "login" })" class="text-muted">Already have an account? Login here</a>
                            </div>
                            <button type="submit" class="btn oneMusic-btn mt-30">@Model.ButtonText</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Stylesheet -->
<link rel="stylesheet" href="Content/scss/style.scss">
<link rel="stylesheet" href="Content/style.css">