@model MusicApp.Models.Slide


<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="card-title">Form Elements</div>
            </div>
            <div class="card-body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="row">
                        <!-- Left Column -->
                        <div class="col-md-6 col-lg-4">
                            <div class="form-group form-group-default">
                                @Html.LabelFor(model => model.AlbumId)
                                @Html.DropDownListFor(model => model.AlbumId, (SelectList)ViewBag.AlbumList, "Select Album", new { @class = "form-control", id = "albumDropdown" })
                                @Html.ValidationMessageFor(model => model.AlbumId, "", new { @class = "text-danger" })
                            </div>

                            <!-- Display album info when selected -->
                            <div id="albumInfo" style="display:none;">
                                <div class="form-group">
                                    <label class="control-label col-md-2">Album Title</label>
                                    <div class="col-md-10">
                                        <span id="albumTitle" class="form-control"></span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-2">Album Artist</label>
                                    <div class="col-md-10">
                                        <span id="albumArtist" class="form-control"></span>
                                    </div>
                                </div>
                            </div>

                            <!-- Slide meta information -->
                            <div class="form-group form-group-default">
                                @Html.LabelFor(model => model.Meta)
                                @Html.EditorFor(model => model.Meta, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Meta, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group form-group-default">
                                @Html.LabelFor(model => model.Order)
                                @Html.EditorFor(model => model.Order, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Order, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <!-- Right Column -->
                        <div class="col-md-6 col-lg-4">
                            <div class="form-group form-check">
                                @Html.CheckBoxFor(model => model.Hide, new { @class = "form-check-input" })
                                @Html.LabelFor(model => model.Hide, new { @class = "form-check-label" })
                                @Html.ValidationMessageFor(model => model.Hide, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group form-group-default">
                                @Html.LabelFor(model => model.DateBegin)
                                @Html.EditorFor(model => model.DateBegin, new { htmlAttributes = new { @class = "form-control", type = "date" } })
                                @Html.ValidationMessageFor(model => model.DateBegin, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Create Slide" class="btn btn-success" />
                        <a href="@Url.Action("Index", "Slide")" class="btn btn-danger">Cancel</a>
                    </div>
                }


            </div>
        </div>
    </div>
</div>


