@model IEnumerable<MusicApp.ViewModels.SlideViewModel>



<div class="container">
    <div class="page-inner">
        <div class="page-header">
            <h3 class="fw-bold mb-3">Slide Management</h3>
            <ul class="breadcrumbs mb-3">
                <li class="nav-home">
                    <a href="#">
                        <i class="icon-home"></i>
                    </a>
                </li>
                <li class="separator">
                    <i class="icon-arrow-right"></i>
                </li>
                <li class="nav-item">
                    <a href="#">Management</a>
                </li>
                <li class="separator">
                    <i class="icon-arrow-right"></i>
                </li>
                <li class="nav-item">
                    <a href="#">slides</a>
                </li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="d-flex align-items-center">
                            <h4 class="card-title">Slides</h4>
                            <a href="@Url.Action("Create", "Slide")" class="btn btn-primary btn-round ms-auto">
                                <i class="fa fa-plus"></i>
                                Add New
                            </a>
                        </div>
                    </div>


                    @if (Model == null || !Model.Any())
                    {
                        <p>No slides found.</p> <!-- Thông báo khi không có dữ liệu -->
                    }
                    else
                    {
                        <table id="add-row" class="display table table-striped table-hover">
                            <thead>

                                <tr>
                                    <th>
                                        Slide Id <!-- Cột cho Slide Id -->
                                    </th>
                                    <th>
                                        Album Title
                                    </th>
                                    <th>
                                        Meta
                                    </th>
                                    <th>
                                        Hide
                                    </th>
                                    <th>
                                        Order
                                    </th>
                                    <th>
                                        Date Begin
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @item.Id  <!-- Hiển thị Slide Id -->
                                        </td>
                                        <td>
                                            @item.AlbumTitle  <!-- Hiển thị tên Album -->
                                        </td>
                                       
                                        <td>
                                            @item.Meta  <!-- Hiển thị Meta -->
                                        </td>
                                        <td>
                                            @item.Hide  <!-- Hiển thị Hide -->
                                        </td>
                                        <td>
                                            @item.Order  <!-- Hiển thị Order -->
                                        </td>
                                        <td>
                                            @item.DateBegin  <!-- Hiển thị DateBegin -->
                                        </td>
                                        <td>
                                            <div class="form-button-action">
                                                <a href="@Url.Action("Edit", "Slide", new { id = item.Id })" class="btn btn-link btn-primary btn-lg">
                                                    <i class="fa fa-edit"></i>
                                                </a>
                                                <a href="@Url.Action("Delete", "Slide", new { id = item.Id })" class="btn btn-link btn-danger btn-lg">
                                                    <i class="fa fa-times"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>

                        </table>
                    }


                </div>
            </div>
        </div>
    </div>
</div>

